.container {
  margin-left: 20px;
  margin-right: 20px;
}

table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.action {
  display: none;
}

.mat-row:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.mat-row:hover .action{
  display: inline-block;
}

.mat-form-field {
  width: 100%;
}

.mat-header-cell {
  background-color: #120a8f;
  color: white;
}

#ajoutParticipant {
  /*margin-top: 50px;*/
  background-color: #120a8f;
  border-radius: 5px;
  color: white;
  width: 250px;
}
#ajoutParticipant span {
  margin-left: 20px;
  color: white
}

#ajoutParticipant button .mat-icon {
  color: white;
}
